@model IEnumerable<ShoppingCart.Areas.Person.Models.Person>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<table>
    <tr>
    <th>
        @Html.DisplayNameFor(model => model.FirstName)
    </th>
    </tr>
</table>

